<div class="app-layout">
  <!-- Header -->
  <header class="app-header">
    <div class="header-left">
      <img *ngIf="!isSidebarExpanded"
           class="logo-icon"
           src="assets/images/logo-collapsed.png"
           alt="Logo collapsed" />

      <img *ngIf="isSidebarExpanded"
           class="logo-icon"
           src="assets/images/logo-expanded.png"
           alt="Logo expanded" />

      <button class="menu-toggle"
              [class.collapsed]="!isSidebarExpanded"
              [class.expanded]="isSidebarExpanded"
              (click)="toggleSidebar()">
        ☰
      </button>
    </div>
  </header>


  <!-- Main body with sidebar -->
  <div class="app-body">
    <app-sidebar-menu [isExpanded]="isSidebarExpanded"
                      (itemSelected)="onSidebarItemSelected($event)">
    </app-sidebar-menu>

    <div class="app-content">
      <app-requests-table></app-requests-table>
    </div>
  </div>

  <!-- Modal -->
  <app-modal *ngIf="showModal" [title]="modalTitle" (closed)="closeModal()">
    <ng-container *ngIf="modalContent === 'Notifications'">
      <app-notification-settings></app-notification-settings>
    </ng-container>

    <ng-container *ngIf="modalContent === 'Rule'">
      <app-rule-management></app-rule-management>
    </ng-container>
  </app-modal>
</div>
