html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --icon-color: #374151; /* основной цвет */
  --icon-color-hover: #2563eb; /* при наведении */
  --icon-color-active: #111827; /* для активных кнопок */
}
